//- Пример использования contacts({'phone':'телефон','mail':'мыло'})
mixin contacts(items)
    address.b-contacts
        ul.b-contacts__list
            each label,name in items
                if label
                    li(class='b-contacts__item-' + name)
                        a(href='#' class='b-contacts__link')=label
                else
                    li(class='b-contacts__item-' + name)=label