footer.b-footer
    .b-footer-container
        +logo("/img/logo-footer.png","ЭпплShop")
        +link-list("b-footer-menu-left", "О магазине", {
            "О нас":"#",
            "Наши цены":"#",
            "Наши скидки":"#",
            "Акции":"#"
        })
        +link-list("b-footer-menu-center", "Каталог", {
            "Смартфоны":"#",
            "Планшеты":"#",
            "Компьютеры":"#",
            "Аксессуары":"#"
        })
        +link-list("b-footer-menu-right", "Контакты", {
            "Телефоны":"#",
            "Адреса":"#",
            "Карта проезда":"#",
            "Обратная связь":"#"
        })
        .b-mobile-and-socials
            include ../_includes/_mobile-stores
            include ../_includes/_social
            
        <!-- build:js js/vendor.js --> 
        //bower:js
        script(src='/bower/jquery/dist/jquery.js')
        //endbower  
        <!-- endbuild -->
        
        <!-- build:js js/main.js --> 
        script(src="js/main.js")
        <!-- endbuild --> 