include ./_mixins/_link-list
include ./_mixins/_contacts
include ./_mixins/_gallery
include ./_mixins/_slider
include ./_mixins/_stuff-section
include ./_mixins/_logo

doctype html
html(lang="ru-RU")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(description='')
        meta(keywords='')
        meta(author='')
        title
            block title
        link(rel='shortcut icon' type='image/x-icon' href='./favicon.ico')
        
        block css
            link(rel='stylesheet' type='text/css' href='./css/normalize.css')
            link(rel='stylesheet' type='text/css' href='./css/main.css')
        
        block scripts
            script(src='./js/vendor/modernizr/modernizr.js')
    body
        .wrapper
            main.b-main
                block sidebar
                block content
                
        include ./_common/_footer
        
        //JS
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script.
            window.jQuery || document.write('<script src="js/vendor/jquery/jquery.min.js"><\/script>')
        script(src='js/main.js')