header.b-header
    .b-header-container
        //[if lt IE 8]><p class="browsehappy">Ваш браузер <strong>устарел</strong>.Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p><![endif]
        
        a.b-logo(href='/')
            img.b-logo__image(src='./img/logo.png')
            span.b-logo__hidden-text hidden text