.b-social-networks
    ul.b-social-networks__list
        li.b-social-networks__list-item
            a(href="#" class="b-social b-social-vk") vkontakte
        li.b-social-networks__list-item
            a(href="#" class="b-social b-social-fb") facebook
        li.b-social-networks__list-item
            a(href="#" class="b-social b-social-tw") twitter