form.b-callback-form(action="#")
    .b-callback-form__header Заказать звонок
    .b-callback-form__row
        label.b-callback-form__label(for="name") Ваше имя
        input.b-callback-form__input.b-callback-form__input_text(type="text" id="name" name="name" placeholder="Константин")
    .b-callback-form__row
        label.b-callback-form__label(for="phone") Телефон
        input.b-callback-form__input.b-callback-form__input_text(type="text" id="phone" name="phone" placeholder="+7 (912) 000-00-00")
    .b-callback-form__row
        label.b-callback-form__label(for="date") Дата звонка
        .b-callback-form__select-container
            select.b-callback-form__input.b-callback-form__select(id="day" name="day")
                -for(var i=01; i<=31; i++)
                    option #{i}
            select.b-callback-form__input.b-callback-form__select(id="month" name="month")
                -for(var i=01; i<=12; i++)
                    option #{i}
    .b-callback-form__row
        textarea.b-callback-form__input.b-callback-form__input_textarea(id ="comment" name="comment" placeholder="Комментарий")
    .b-callback-form__row
        input.b-callback-form__button.b-callback-form__button_submit(type="submit")
        input.b-callback-form__button.b-callback-form__button_reset(type="reset")