.b-mobile
    ul.b-mobile__list
        li.b-mobile__list-item
            a(href="#" class="b-mobile__store b-mobile__store-apple") Доступно в App Store
        li.b-mobile__list-item
            a(href="#" class="b-mobile__store b-mobile__store-android") Доступно в Google Play